/* Poppins-Light */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('assets/fonts/Poppins-Light.eot');
    src: local(''),
        url('assets/fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Poppins-Light.woff2') format('woff2'),
        url('assets/fonts/Poppins-Light.woff') format('woff'),
        url('assets/fonts/Poppins-Light.ttf') format('truetype'),
        url('assets/fonts/Poppins-Light.svg#Poppins') format('svg');
}

/* Poppins-Regular */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('assets/fonts/Poppins-Regular.eot');
    src: local(''),
        url('assets/fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Poppins-Regular.woff2') format('woff2'),
        url('assets/fonts/Poppins-Regular.woff') format('woff'),
        url('assets/fonts/Poppins-Regular.ttf') format('truetype'),
        url('assets/fonts/Poppins-Regular.svg#Poppins') format('svg');
}

/* Poppins-Bold */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('assets/fonts/Poppins-Bold.eot');
    src: local(''),
        url('assets/fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Poppins-Bold.woff2') format('woff2'),
        url('assets/fonts/Poppins-Bold.woff') format('woff'),
        url('assets/fonts/Poppins-Bold.ttf') format('truetype'),
        url('assets/fonts/Poppins-Bold.svg#Poppins') format('svg');
}

/* Poppins-Black */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('assets/fonts/Poppins-Black.eot');
    src: local(''),
        url('assets/fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Poppins-Black.woff2') format('woff2'),
        url('assets/fonts/Poppins-Black.woff') format('woff'),
        url('assets/fonts/Poppins-Black.ttf') format('truetype'),
        url('assets/fonts/Poppins-Black.svg#Poppins') format('svg');
}